
.sobre__mim {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(198, 239, 255);
    width: 100%;
}

.sobre__mim__div {
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-width: 1136px;
}

.sobre__mim__div h3 {
    font-size: 32px;
    margin-top: 50px;
}