
main {
    width: 100%;
}
.informacoes__gerais {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
/* TEXTOS H3 COM MESMO TAMANHO*/
.informacoes__gerais h3 {
    font-size: 32px;
}

/* NESSE TRECHO SE MUDAM AS CORES DE FUNDO DAS SESSÕES, ENTRE CINZA E AZUL */
.cor__fundo {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 64px;
    width: 100%;
    box-sizing: border-box;
}
.cor__fundo:nth-child(odd) {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #eaf2fd;
}

/* ESSA PARTE DEIXA O CONTEÚDO NA PARTE DO MEIO DA TELA. */
.sobre__mim,
.skills__hobbies,
.formacao__academica,
.experiencia,
.contato {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    width: 1136px;
    gap: 16px;
}
.sobre__mim > img {
    height: 104px;
}

/* ORGANIZAÇÃO DOS QUADRADOS DAS SKILLS E HOBBIES */
.organizacao__quadrado {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}
.quadrado {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: end;
    height: 174px;
    width: 174px;
    background-color: white;
    padding: 16px;
    row-gap: 16px;
    border-radius: 15px;
}

/* TAMANHO DAS IMAGENS DENTRO DOS QUADRADOS */
figure > img {
    height: 58px;
}

#inicio,
#sobre__mim,
#skills,
#hobbies,
#formacao,
#experiencia,
#contato {
    scroll-margin-block: 88px;
}

.row__formacao__academica {
    display: flex;
    flex-direction: inline;
    gap: 16px;
}

.lista__formacao__academica {
    max-width: 368px;
}
.lista__formacao__academica h4 {
    margin-bottom: 15px;
}

.quadrado__formacao__academica {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 268px;
    width: 368px;
    background-color: white;
    border-radius: 10px;
    margin-bottom: 16px;
}
.quadrado__formacao__academica > a > img {
    height: auto;
    width: 280px;
}

.experiencia__profissional {
    display: flex;
    flex-direction: column;
    width: 1136px;
}
.experiencia__profissional li {
    margin-bottom: 54px;
}

/* CONTAINER COM CADA EXPERIENCIA. */
.container__experiencia {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 16px;
}

/* IFRAME */
.iframe__container {
    width: 752px;
    height: 406px;
    border: 1px solid black;
    overflow: hidden;
    z-index: 0;
}
iframe {
    display: block;
    width: 200%;
    height: 200%;
    transform: scale(0.5);
    transform-origin: 0 0;
    border: none;
    z-index: 0;
}

/* INFORMAÇÕES E BOTOES AO LADO DO IFRAME. */
.informacoes__container__experiencia {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.informacoes__container__experiencia h4 {
    font-size: 22px;
}

/* BOTOES */
.botoes__container__experiencia {
    display: flex;
    gap: 16px;
    flex-direction: inline;
}

/* BOTAO INDIVIDUAL */
.botao {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 116px;
    height: 51px;
    border: 1px solid #2a7ae4;
    border-radius: 5px;
    color: white;
    background-color: #2a7ae4;
}
.botao:hover {
    color: #2a7ae4;
    background-color: white;
    transition: 0.5s;
}


