
main {
    width: 100%;
}
.informacoes__gerais {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
/* Aqui todos os títulos h3 terão um mesmo tamanho, dentro da section informacoes__gerais. */
.informacoes__gerais h3 {
    font-size: 32px;
}
.cor__fundo {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 64px;
}
.cor__fundo:nth-child(odd) {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #eaf2fd;
    width: 100%;
}
.sobre__mim,
.skills__hobbies,
.formacao__academica,
.experiencia {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    max-width: 1136px;
    gap: 16px;
}
.sobre__mim > img {
    height: 104px;
}
#hobbies {
    margin-top: 48px;
}
.organizacao__quadrado {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}
.quadrado {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: end;
    height: 174px;
    width: 174px;
    background-color: white;
    padding: 16px;
    row-gap: 16px;
}
li > img {
    height: 48px;
}



