@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: 100vw;
    background-color: rgb(238, 238, 238);
    color: #464646;
    font-family: "Raleway", sans-serif;
    margin-top: 88px;
    line-height: 1.5;
    letter-spacing: 1px;
    overflow-x: hidden;
}
main {
    width: 100%;
}

/* COR DOS LINKS */
a {
    color: #464646;
}
a:hover {
    color: #98c3ff;
    transition: 0.5s;
}

/* JUSTIFICAÇÃO DE TODOS OS PARÁGRAFOS */
p {
    text-align: justify;
}

/* TAMANHO DE TODOS OS H3*/
h3 {
    font-size: 32px;
}