/* MENU */

header {
    position: fixed;
    display: flex;
    height: 88px;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color: #eeeeee;
    position: fixed;
    top: 0;
    left: 0;
}

/* MEU NOME NA NAVBAR */
.meu__nome {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Raleway", sans-serif;
}
/* IMAGEM DAS ESTRELAS AO LADO DO MEU NOME */
h1 > img {
    height: 24px;
    margin-right: 8px;
}

/* CONFIGURAÇÕES DO MENU. */
.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1136px;
    font-family: "Raleway", sans-serif;
    background-color: #eeeeee;
}
.lista__menu {
    display: flex;
    flex-direction: inline;
    gap: 32px;
    font-size: 16px;
}
