.apresentacao__foto {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.apresentacao__foto__div {
    display: flex;
    gap: 15px;
    max-width: 1136px;
}
.apresentacao {
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.titulo__apresentacao {
    width: 100%;
    font-size: 52px;
    line-height: 50px;
}

/* LINKS DAS REDES SOCIAIS */
.lista__redes__sociais {
    display: flex;
    gap: 32px;
}
.lista__redes__sociais > li > a {
    display: flex;
    align-items: center;
}

/* FLECHAS AO LADO DOS LINKS DAS REDES SOCIAIS. */
a > img {
    height: 24px;
    margin-left: 4px;
}

/* FOTO REDONDA DO MEU PERFIL */
.foto__perfil img {
    width: 268px;
    height: 268px;
    border-radius: 90%;
    margin: 10px;
}
